<a href="https://colab.research.google.com/github/prajwal467/CE888-Assignment1/blob/main/Tweet_eval_offensive_speech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loading the necessary files required for our project

In [3]:
from google.colab import files 
uploaded = files.upload()

Saving mapping.txt to mapping.txt
Saving test_labels.txt to test_labels.txt
Saving test_text.txt to test_text.txt
Saving train_labels.txt to train_labels.txt
Saving train_text.txt to train_text.txt
Saving val_labels.txt to val_labels.txt
Saving val_text.txt to val_text.txt

In [22]:
#importing necessary libraries and dependencies

In [23]:
import pandas as pd
import re
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')
import spacy
import string
import numpy as np

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [ ]:
#Loading the data and renaming the column tweet

In [24]:
df = pd.read_csv('train_text.txt',error_bad_lines=False)
df.columns = ['tweet']
df.head()

b'Skipping line 6: expected 1 fields, saw 2\nSkipping line 12: expected 1 fields, saw 3\nSkipping line 18: expected 1 fields, saw 3\nSkipping line 120: expected 1 fields, saw 4\nSkipping line 125: expected 1 fields, saw 3\nSkipping line 127: expected 1 fields, saw 3\nSkipping line 135: expected 1 fields, saw 2\nSkipping line 159: expected 1 fields, saw 3\nSkipping line 177: expected 1 fields, saw 3\nSkipping line 204: expected 1 fields, saw 3\nSkipping line 220: expected 1 fields, saw 3\nSkipping line 226: expected 1 fields, saw 2\nSkipping line 247: expected 1 fields, saw 2\nSkipping line 258: expected 1 fields, saw 2\nSkipping line 291: expected 1 fields, saw 2\nSkipping line 332: expected 1 fields, saw 2\nSkipping line 349: expected 1 fields, saw 2\nSkipping line 380: expected 1 fields, saw 2\nSkipping line 395: expected 1 fields, saw 6\nSkipping line 411: expected 1 fields, saw 4\nSkipping line 455: expected 1 fields, saw 2\nSkipping line 493: expected 1 fields, saw 2\nSkipping line 544: expected 1 fields, saw 5\nSkipping line 604: expected 1 fields, saw 4\nSkipping line 620: expected 1 fields, saw 2\nSkipping line 644: expected 1 fields, saw 2\nSkipping line 712: expected 1 fields, saw 3\nSkipping line 728: expected 1 fields, saw 5\nSkipping line 748: expected 1 fields, saw 3\nSkipping line 766: expected 1 fields, saw 2\nSkipping line 777: expected 1 fields, saw 2\nSkipping line 788: expected 1 fields, saw 2\nSkipping line 814: expected 1 fields, saw 2\nSkipping line 848: expected 1 fields, saw 2\nSkipping line 885: expected 1 fields, saw 4\nSkipping line 891: expected 1 fields, saw 2\nSkipping line 894: expected 1 fields, saw 2\nSkipping line 901: expected 1 fields, saw 4\nSkipping line 914: expected 1 fields, saw 2\nSkipping line 930: expected 1 fields, saw 2\nSkipping line 962: expected 1 fields, saw 8\nSkipping line 994: expected 1 fields, saw 2\nSkipping line 1016: expected 1 fields, saw 2\nSkipping line 1023: expected 1 fields, saw 3\nSkipping line 1034: expected 1 fields, saw 5\nSkipping line 1072: expected 1 fields, saw 2\nSkipping line 1105: expected 1 fields, saw 4\nSkipping line 1121: expected 1 fields, saw 2\nSkipping line 1140: expected 1 fields, saw 3\nSkipping line 1175: expected 1 fields, saw 3\nSkipping line 1187: expected 1 fields, saw 4\nSkipping line 1195: expected 1 fields, saw 3\nSkipping line 1208: expected 1 fields, saw 4\nSkipping line 1223: expected 1 fields, saw 3\nSkipping line 1235: expected 1 fields, saw 3\nSkipping line 1259: expected 1 fields, saw 3\nSkipping line 1275: expected 1 fields, saw 3\nSkipping line 1311: expected 1 fields, saw 2\nSkipping line 1319: expected 1 fields, saw 3\nSkipping line 1337: expected 1 fields, saw 3\nSkipping line 1338: expected 1 fields, saw 2\nSkipping line 1340: expected 1 fields, saw 2\nSkipping line 1356: expected 1 fields, saw 2\nSkipping line 1357: expected 1 fields, saw 2\nSkipping line 1362: expected 1 fields, saw 3\nSkipping line 1372: expected 1 fields, saw 3\nSkipping line 1385: expected 1 fields, saw 2\nSkipping line 1390: expected 1 fields, saw 3\nSkipping line 1396: expected 1 fields, saw 4\nSkipping line 1402: expected 1 fields, saw 5\nSkipping line 1411: expected 1 fields, saw 4\nSkipping line 1456: expected 1 fields, saw 4\nSkipping line 1501: expected 1 fields, saw 4\nSkipping line 1503: expected 1 fields, saw 2\nSkipping line 1516: expected 1 fields, saw 3\nSkipping line 1529: expected 1 fields, saw 9\nSkipping line 1567: expected 1 fields, saw 5\nSkipping line 1606: expected 1 fields, saw 3\nSkipping line 1610: expected 1 fields, saw 2\nSkipping line 1615: expected 1 fields, saw 2\nSkipping line 1625: expected 1 fields, saw 5\nSkipping line 1673: expected 1 fields, saw 9\nSkipping line 1674: expected 1 fields, saw 2\nSkipping line 1693: expected 1 fields, saw 3\nSkipping line 1698: expected 1 fields, saw 2\nSkipping line 1734: expected 1 fields, saw 2\nSkipping line 1744: expected 1 fields, saw 2\nSkipping line 1767: expected 1 fields, saw 6\nSkipping line 1769: expected 1 fields, saw 2\nSkipping line 1785: expected 1 fields, saw 4\nSkipping line 1792: expected 1 fields, saw 6\nSkipping line 1794: expected 1 fields, saw 2\nSkipping line 1805: expected 1 fields, saw 2\nSkipping line 1825: expected 1 fields, saw 7\nSkipping line 1843: expected 1 fields, saw 2\nSkipping line 1854: expected 1 fields, saw 4\nSkipping line 1856: expected 1 fields, saw 4\nSkipping line 1865: expected 1 fields, saw 4\nSkipping line 1910: expected 1 fields, saw 2\nSkipping line 1927: expected 1 fields, saw 2\nSkipping line 1935: expected 1 fields, saw 4\nSkipping line 1976: expected 1 fields, saw 2\nSkipping line 2071: expected 1 fields, saw 2\nSkipping line 2093: expected 1 fields, saw 2\nSkipping line 2096: expected 1 fields, saw 2\nSkipping line 2116: expected 1 fields, saw 2\nSkipping line 2147: expected 1 fields, saw 3\nSkipping line 2164: expected 1 fields, saw 6\nSkipping line 2256: expected 1 fields, saw 3\nSkipping line 2262: expected 1 fields, saw 2\nSkipping line 2278: expected 1 fields, saw 3\nSkipping line 2294: expected 1 fields, saw 2\nSkipping line 2321: expected 1 fields, saw 7\nSkipping line 2327: expected 1 fields, saw 2\nSkipping line 2336: expected 1 fields, saw 3\nSkipping line 2387: expected 1 fields, saw 4\nSkipping line 2399: expected 1 fields, saw 2\nSkipping line 2405: expected 1 fields, saw 2\nSkipping line 2407: expected 1 fields, saw 2\nSkipping line 2431: expected 1 fields, saw 3\nSkipping line 2469: expected 1 fields, saw 2\nSkipping line 2502: expected 1 fields, saw 2\nSkipping line 2521: expected 1 fields, saw 3\nSkipping line 2577: expected 1 fields, saw 3\nSkipping line 2579: expected 1 fields, saw 2\nSkipping line 2617: expected 1 fields, saw 2\nSkipping line 2625: expected 1 fields, saw 4\nSkipping line 2679: expected 1 fields, saw 3\nSkipping line 2724: expected 1 fields, saw 2\nSkipping line 2728: expected 1 fields, saw 3\nSkipping line 2788: expected 1 fields, saw 2\nSkipping line 2793: expected 1 fields, saw 2\nSkipping line 2805: expected 1 fields, saw 6\nSkipping line 2821: expected 1 fields, saw 2\nSkipping line 2833: expected 1 fields, saw 2\nSkipping line 2860: expected 1 fields, saw 2\nSkipping line 2905: expected 1 fields, saw 5\nSkipping line 2911: expected 1 fields, saw 3\nSkipping line 2914: expected 1 fields, saw 4\nSkipping line 2915: expected 1 fields, saw 9\nSkipping line 2957: expected 1 fields, saw 4\nSkipping line 2960: expected 1 fields, saw 3\nSkipping line 2962: expected 1 fields, saw 2\nSkipping line 2965: expected 1 fields, saw 3\nSkipping line 3020: expected 1 fields, saw 2\nSkipping line 3031: expected 1 fields, saw 2\nSkipping line 3037: expected 1 fields, saw 2\nSkipping line 3061: expected 1 fields, saw 3\nSkipping line 3086: expected 1 fields, saw 3\nSkipping line 3126: expected 1 fields, saw 3\nSkipping line 3152: expected 1 fields, saw 2\nSkipping line 3202: expected 1 fields, saw 3\nSkipping line 3273: expected 1 fields, saw 7\nSkipping line 3289: expected 1 fields, saw 4\nSkipping line 3293: expected 1 fields, saw 3\nSkipping line 3305: expected 1 fields, saw 4\nSkipping line 3326: expected 1 fields, saw 5\nSkipping line 3332: expected 1 fields, saw 3\nSkipping line 3334: expected 1 fields, saw 2\nSkipping line 3350: expected 1 fields, saw 3\nSkipping line 3410: expected 1 fields, saw 3\nSkipping line 3437: expected 1 fields, saw 7\nSkipping line 3471: expected 1 fields, saw 7\nSkipping line 3483: expected 1 fields, saw 3\nSkipping line 3515: expected 1 fields, saw 4\nSkipping line 3532: expected 1 fields, saw 5\nSkipping line 3540: expected 1 fields, saw 4\nSkipping line 3577: expected 1 fields, saw 2\nSkipping line 3660: expected 1 fields, saw 2\nSkipping line 3685: expected 1 fields, saw 2\nSkipping line 3765: expected 1 fields, saw 2\nSkipping line 3785: expected 1 fields, saw 5\nSkipping line 3794: expected 1 fields, saw 4\nSkipping line 3799: expected 1 fields, saw 4\nSkipping line 3824: expected 1 fields, saw 3\nSkipping line 3830: expected 1 fields, saw 2\nSkipping line 3831: expected 1 fields, saw 4\nSkipping line 3854: expected 1 fields, saw 3\nSkipping line 3864: expected 1 fields, saw 3\nSkipping line 3889: expected 1 fields, saw 2\nSkipping line 3900: expected 1 fields, saw 4\nSkipping line 3910: expected 1 fields, saw 4\nSkipping line 3917: expected 1 fields, saw 3\nSkipping line 3945: expected 1 fields, saw 2\nSkipping line 3982: expected 1 fields, saw 5\nSkipping line 3999: expected 1 fields, saw 2\nSkipping line 4024: expected 1 fields, saw 4\nSkipping line 4033: expected 1 fields, saw 4\nSkipping line 4091: expected 1 fields, saw 2\nSkipping line 4113: expected 1 fields, saw 3\nSkipping line 4120: expected 1 fields, saw 6\nSkipping line 4149: expected 1 fields, saw 2\nSkipping line 4164: expected 1 fields, saw 3\nSkipping line 4169: expected 1 fields, saw 4\nSkipping line 4172: expected 1 fields, saw 5\nSkipping line 4176: expected 1 fields, saw 2\nSkipping line 4218: expected 1 fields, saw 2\nSkipping line 4230: expected 1 fields, saw 2\nSkipping line 4306: expected 1 fields, saw 3\nSkipping line 4312: expected 1 fields, saw 3\nSkipping line 4346: expected 1 fields, saw 2\nSkipping line 4349: expected 1 fields, saw 2\nSkipping line 4394: expected 1 fields, saw 3\nSkipping line 4439: expected 1 fields, saw 5\nSkipping line 4442: expected 1 fields, saw 2\nSkipping line 4443: expected 1 fields, saw 3\nSkipping line 4463: expected 1 fields, saw 3\nSkipping line 4470: expected 1 fields, saw 2\nSkipping line 4474: expected 1 fields, saw 4\nSkipping line 4490: expected 1 fields, saw 3\nSkipping line 4568: expected 1 fields, saw 6\nSkipping line 4575: expected 1 fields, saw 5\nSkipping line 4584: expected 1 fields, saw 2\nSkipping line 4620: expected 1 fields, saw 2\nSkipping line 4622: expected 1 fields, saw 4\nSkipping line 4632: expected 1 fields, saw 2\nSkipping line 4664: expected 1 fields, saw 5\nSkipping line 4701: expected 1 fields, saw 4\nSkipping line 4715: expected 1 fields, saw 5\nSkipping line 4747: expected 1 fields, saw 2\nSkipping line 4776: expected 1 fields, saw 7\nSkipping line 4786: expected 1 fields, saw 3\nSkipping line 4812: expected 1 fields, saw 2\nSkipping line 4817: expected 1 fields, saw 2\nSkipping line 4844: expected 1 fields, saw 2\nSkipping line 4850: expected 1 fields, saw 2\nSkipping line 4921: expected 1 fields, saw 2\nSkipping line 4941: expected 1 fields, saw 2\nSkipping line 4959: expected 1 fields, saw 3\nSkipping line 5003: expected 1 fields, saw 2\nSkipping line 5034: expected 1 fields, saw 2\nSkipping line 5126: expected 1 fields, saw 2\nSkipping line 5146: expected 1 fields, saw 4\nSkipping line 5175: expected 1 fields, saw 3\nSkipping line 5206: expected 1 fields, saw 5\nSkipping line 5214: expected 1 fields, saw 3\nSkipping line 5219: expected 1 fields, saw 2\nSkipping line 5295: expected 1 fields, saw 2\nSkipping line 5339: expected 1 fields, saw 2\nSkipping line 5344: expected 1 fields, saw 4\nSkipping line 5354: expected 1 fields, saw 2\nSkipping line 5362: expected 1 fields, saw 3\nSkipping line 5371: expected 1 fields, saw 2\nSkipping line 5375: expected 1 fields, saw 3\nSkipping line 5394: expected 1 fields, saw 3\nSkipping line 5455: expected 1 fields, saw 2\nSkipping line 5462: expected 1 fields, saw 2\nSkipping line 5465: expected 1 fields, saw 4\nSkipping line 5469: expected 1 fields, saw 2\nSkipping line 5480: expected 1 fields, saw 2\nSkipping line 5522: expected 1 fields, saw 5\nSkipping line 5564: expected 1 fields, saw 4\nSkipping line 5584: expected 1 fields, saw 2\nSkipping line 5589: expected 1 fields, saw 2\nSkipping line 5593: expected 1 fields, saw 2\nSkipping line 5617: expected 1 fields, saw 5\nSkipping line 5627: expected 1 fields, saw 3\nSkipping line 5636: expected 1 fields, saw 2\nSkipping line 5703: expected 1 fields, saw 2\nSkipping line 5712: expected 1 fields, saw 2\nSkipping line 5732: expected 1 fields, saw 3\nSkipping line 5755: expected 1 fields, saw 2\nSkipping line 5854: expected 1 fields, saw 2\nSkipping line 5909: expected 1 fields, saw 3\nSkipping line 5914: expected 1 fields, saw 2\nSkipping line 5937: expected 1 fields, saw 2\nSkipping line 5941: expected 1 fields, saw 2\nSkipping line 5989: expected 1 fields, saw 3\nSkipping line 6061: expected 1 fields, saw 2\nSkipping line 6069: expected 1 fields, saw 4\nSkipping line 6107: expected 1 fields, saw 3\nSkipping line 6116: expected 1 fields, saw 2\nSkipping line 6119: expected 1 fields, saw 2\nSkipping line 6129: expected 1 fields, saw 3\nSkipping line 6135: expected 1 fields, saw 4\nSkipping line 6166: expected 1 fields, saw 5\nSkipping line 6180: expected 1 fields, saw 2\nSkipping line 6182: expected 1 fields, saw 4\nSkipping line 6196: expected 1 fields, saw 3\nSkipping line 6204: expected 1 fields, saw 2\nSkipping line 6220: expected 1 fields, saw 4\nSkipping line 6223: expected 1 fields, saw 3\nSkipping line 6266: expected 1 fields, saw 2\nSkipping line 6282: expected 1 fields, saw 2\nSkipping line 6292: expected 1 fields, saw 2\nSkipping line 6302: expected 1 fields, saw 3\nSkipping line 6334: expected 1 fields, saw 3\nSkipping line 6338: expected 1 fields, saw 5\nSkipping line 6359: expected 1 fields, saw 3\nSkipping line 6445: expected 1 fields, saw 2\nSkipping line 6466: expected 1 fields, saw 2\nSkipping line 6467: expected 1 fields, saw 2\nSkipping line 6478: expected 1 fields, saw 3\nSkipping line 6483: expected 1 fields, saw 2\nSkipping line 6509: expected 1 fields, saw 5\nSkipping line 6525: expected 1 fields, saw 3\nSkipping line 6530: expected 1 fields, saw 4\nSkipping line 6561: expected 1 fields, saw 6\nSkipping line 6634: expected 1 fields, saw 2\nSkipping line 6668: expected 1 fields, saw 2\nSkipping line 6735: expected 1 fields, saw 3\nSkipping line 6738: expected 1 fields, saw 2\nSkipping line 6742: expected 1 fields, saw 2\nSkipping line 6777: expected 1 fields, saw 5\nSkipping line 6781: expected 1 fields, saw 3\nSkipping line 6800: expected 1 fields, saw 3\nSkipping line 6804: expected 1 fields, saw 4\nSkipping line 6841: expected 1 fields, saw 2\nSkipping line 6868: expected 1 fields, saw 3\nSkipping line 6893: expected 1 fields, saw 3\nSkipping line 6919: expected 1 fields, saw 3\nSkipping line 6930: expected 1 fields, saw 2\nSkipping line 6940: expected 1 fields, saw 2\nSkipping line 6962: expected 1 fields, saw 2\nSkipping line 6980: expected 1 fields, saw 5\nSkipping line 7015: expected 1 fields, saw 3\nSkipping line 7022: expected 1 fields, saw 3\nSkipping line 7029: expected 1 fields, saw 2\nSkipping line 7075: expected 1 fields, saw 3\nSkipping line 7102: expected 1 fields, saw 4\nSkipping line 7116: expected 1 fields, saw 3\nSkipping line 7119: expected 1 fields, saw 4\nSkipping line 7120: expected 1 fields, saw 2\nSkipping line 7184: expected 1 fields, saw 2\nSkipping line 7205: expected 1 fields, saw 3\nSkipping line 7268: expected 1 fields, saw 4\nSkipping line 7319: expected 1 fields, saw 3\nSkipping line 7337: expected 1 fields, saw 3\nSkipping line 7349: expected 1 fields, saw 5\nSkipping line 7360: expected 1 fields, saw 4\nSkipping line 7414: expected 1 fields, saw 4\nSkipping line 7417: expected 1 fields, saw 2\nSkipping line 7483: expected 1 fields, saw 2\nSkipping line 7495: expected 1 fields, saw 2\nSkipping line 7503: expected 1 fields, saw 4\nSkipping line 7550: expected 1 fields, saw 2\nSkipping line 7568: expected 1 fields, saw 2\nSkipping line 7603: expected 1 fields, saw 5\nSkipping line 7610: expected 1 fields, saw 2\nSkipping line 7672: expected 1 fields, saw 3\nSkipping line 7674: expected 1 fields, saw 3\nSkipping line 7676: expected 1 fields, saw 2\nSkipping line 7690: expected 1 fields, saw 3\nSkipping line 7697: expected 1 fields, saw 6\nSkipping line 7701: expected 1 fields, saw 2\nSkipping line 7707: expected 1 fields, saw 2\nSkipping line 7775: expected 1 fields, saw 2\nSkipping line 7778: expected 1 fields, saw 4\nSkipping line 7779: expected 1 fields, saw 5\nSkipping line 7823: expected 1 fields, saw 2\nSkipping line 7832: expected 1 fields, saw 2\nSkipping line 7833: expected 1 fields, saw 4\nSkipping line 7840: expected 1 fields, saw 5\nSkipping line 7860: expected 1 fields, saw 3\nSkipping line 7879: expected 1 fields, saw 2\nSkipping line 7914: expected 1 fields, saw 2\nSkipping line 7921: expected 1 fields, saw 2\nSkipping line 7930: expected 1 fields, saw 4\nSkipping line 7949: expected 1 fields, saw 2\nSkipping line 7960: expected 1 fields, saw 3\nSkipping line 7988: expected 1 fields, saw 3\nSkipping line 8022: expected 1 fields, saw 2\nSkipping line 8074: expected 1 fields, saw 5\nSkipping line 8135: expected 1 fields, saw 2\nSkipping line 8144: expected 1 fields, saw 3\nSkipping line 8201: expected 1 fields, saw 4\nSkipping line 8221: expected 1 fields, saw 2\nSkipping line 8240: expected 1 fields, saw 2\nSkipping line 8244: expected 1 fields, saw 3\nSkipping line 8268: expected 1 fields, saw 3\nSkipping line 8293: expected 1 fields, saw 2\nSkipping line 8353: expected 1 fields, saw 3\nSkipping line 8360: expected 1 fields, saw 4\nSkipping line 8362: expected 1 fields, saw 2\nSkipping line 8380: expected 1 fields, saw 2\nSkipping line 8400: expected 1 fields, saw 2\nSkipping line 8410: expected 1 fields, saw 2\nSkipping line 8437: expected 1 fields, saw 3\nSkipping line 8438: expected 1 fields, saw 3\nSkipping line 8491: expected 1 fields, saw 3\nSkipping line 8549: expected 1 fields, saw 2\nSkipping line 8558: expected 1 fields, saw 3\nSkipping line 8564: expected 1 fields, saw 2\nSkipping line 8568: expected 1 fields, saw 3\nSkipping line 8618: expected 1 fields, saw 2\nSkipping line 8624: expected 1 fields, saw 2\nSkipping line 8631: expected 1 fields, saw 3\nSkipping line 8681: expected 1 fields, saw 5\nSkipping line 8697: expected 1 fields, saw 3\nSkipping line 8701: expected 1 fields, saw 5\nSkipping line 8740: expected 1 fields, saw 3\nSkipping line 8742: expected 1 fields, saw 2\nSkipping line 8774: expected 1 fields, saw 3\nSkipping line 8806: expected 1 fields, saw 2\nSkipping line 8821: expected 1 fields, saw 5\nSkipping line 8824: expected 1 fields, saw 2\nSkipping line 8841: expected 1 fields, saw 3\nSkipping line 8859: expected 1 fields, saw 2\nSkipping line 8880: expected 1 fields, saw 3\nSkipping line 8882: expected 1 fields, saw 5\nSkipping line 8899: expected 1 fields, saw 2\nSkipping line 8901: expected 1 fields, saw 5\nSkipping line 8913: expected 1 fields, saw 2\nSkipping line 8931: expected 1 fields, saw 2\nSkipping line 8997: expected 1 fields, saw 2\nSkipping line 9037: expected 1 fields, saw 4\nSkipping line 9046: expected 1 fields, saw 4\nSkipping line 9083: expected 1 fields, saw 4\nSkipping line 9104: expected 1 fields, saw 3\nSkipping line 9121: expected 1 fields, saw 4\nSkipping line 9140: expected 1 fields, saw 3\nSkipping line 9149: expected 1 fields, saw 2\nSkipping line 9166: expected 1 fields, saw 2\nSkipping line 9173: expected 1 fields, saw 3\nSkipping line 9189: expected 1 fields, saw 4\nSkipping line 9194: expected 1 fields, saw 2\nSkipping line 9205: expected 1 fields, saw 2\nSkipping line 9215: expected 1 fields, saw 3\nSkipping line 9229: expected 1 fields, saw 3\nSkipping line 9271: expected 1 fields, saw 2\nSkipping line 9286: expected 1 fields, saw 3\nSkipping line 9299: expected 1 fields, saw 3\nSkipping line 9328: expected 1 fields, saw 2\nSkipping line 9356: expected 1 fields, saw 2\nSkipping line 9367: expected 1 fields, saw 4\nSkipping line 9377: expected 1 fields, saw 2\nSkipping line 9381: expected 1 fields, saw 3\nSkipping line 9406: expected 1 fields, saw 2\nSkipping line 9412: expected 1 fields, saw 3\nSkipping line 9437: expected 1 fields, saw 2\nSkipping line 9464: expected 1 fields, saw 2\nSkipping line 9472: expected 1 fields, saw 2\nSkipping line 9562: expected 1 fields, saw 2\nSkipping line 9575: expected 1 fields, saw 6\nSkipping line 9603: expected 1 fields, saw 5\nSkipping line 9614: expected 1 fie

                                               tweet
0  @user Eight years the republicans denied obama...
1  @user Get him some line help. He is gonna be j...
2               @user @user She is great. Hi Fiona!
3  @user She has become a parody unto herself? Sh...
4  @user Your looking more like a plant #maga #wa...

In [ ]:
#loading the label data and updating the column name

In [25]:
train.lbl = pd.read_csv('train_labels.txt')
train.lbl.columns = ['label']

In [ ]:
#using the concat function to combine the train and label data

In [26]:
df = pd.concat([train,train.lbl],axis=1)
df

                                                   tweet  label
0      @user Eight years the republicans denied obama...      1
1      @user Get him some line help. He is gonna be j...      0
2                   @user @user She is great. Hi Fiona!       0
3      @user She has become a parody unto herself? Sh...      1
4      @user Your looking more like a plant #maga #wa...      0
...                                                  ...    ...
11910                                                NaN      1
11911                                                NaN      0
11912                                                NaN      0
11913                                                NaN      0
11914                                                NaN      1

[11915 rows x 2 columns]

In [27]:
#checking for null values
df.isnull().sum()

tweet    534
label      0
dtype: int64

In [10]:
#dropping the null values
df = df.dropna()

In [11]:
df.isnull().sum()

tweet    0
label    0
dtype: int64

In [28]:
#checking and loading the test data and renaming the column
test = pd.read_csv('test_text.txt',error_bad_lines=False)
test.columns = ['tweet']
test.head()

b'Skipping line 3: expected 1 fields, saw 5\nSkipping line 5: expected 1 fields, saw 5\nSkipping line 8: expected 1 fields, saw 3\nSkipping line 9: expected 1 fields, saw 3\nSkipping line 11: expected 1 fields, saw 3\nSkipping line 13: expected 1 fields, saw 3\nSkipping line 20: expected 1 fields, saw 3\nSkipping line 26: expected 1 fields, saw 2\nSkipping line 29: expected 1 fields, saw 6\nSkipping line 30: expected 1 fields, saw 2\nSkipping line 35: expected 1 fields, saw 2\nSkipping line 37: expected 1 fields, saw 3\nSkipping line 39: expected 1 fields, saw 2\nSkipping line 42: expected 1 fields, saw 2\nSkipping line 44: expected 1 fields, saw 2\nSkipping line 46: expected 1 fields, saw 2\nSkipping line 49: expected 1 fields, saw 7\nSkipping line 50: expected 1 fields, saw 2\nSkipping line 53: expected 1 fields, saw 2\nSkipping line 54: expected 1 fields, saw 2\nSkipping line 56: expected 1 fields, saw 3\nSkipping line 57: expected 1 fields, saw 2\nSkipping line 58: expected 1 fields, saw 2\nSkipping line 61: expected 1 fields, saw 18\nSkipping line 63: expected 1 fields, saw 5\nSkipping line 68: expected 1 fields, saw 3\nSkipping line 73: expected 1 fields, saw 2\nSkipping line 76: expected 1 fields, saw 4\nSkipping line 79: expected 1 fields, saw 3\nSkipping line 80: expected 1 fields, saw 2\nSkipping line 81: expected 1 fields, saw 5\nSkipping line 82: expected 1 fields, saw 2\nSkipping line 85: expected 1 fields, saw 2\nSkipping line 87: expected 1 fields, saw 2\nSkipping line 93: expected 1 fields, saw 2\nSkipping line 97: expected 1 fields, saw 2\nSkipping line 100: expected 1 fields, saw 3\nSkipping line 101: expected 1 fields, saw 4\nSkipping line 109: expected 1 fields, saw 2\nSkipping line 110: expected 1 fields, saw 2\nSkipping line 126: expected 1 fields, saw 2\nSkipping line 127: expected 1 fields, saw 2\nSkipping line 128: expected 1 fields, saw 2\nSkipping line 129: expected 1 fields, saw 4\nSkipping line 138: expected 1 fields, saw 2\nSkipping line 142: expected 1 fields, saw 4\nSkipping line 143: expected 1 fields, saw 4\nSkipping line 147: expected 1 fields, saw 3\nSkipping line 148: expected 1 fields, saw 3\nSkipping line 154: expected 1 fields, saw 2\nSkipping line 155: expected 1 fields, saw 2\nSkipping line 156: expected 1 fields, saw 3\nSkipping line 158: expected 1 fields, saw 2\nSkipping line 165: expected 1 fields, saw 2\nSkipping line 168: expected 1 fields, saw 2\nSkipping line 174: expected 1 fields, saw 2\nSkipping line 179: expected 1 fields, saw 2\nSkipping line 180: expected 1 fields, saw 2\nSkipping line 181: expected 1 fields, saw 3\nSkipping line 182: expected 1 fields, saw 3\nSkipping line 189: expected 1 fields, saw 3\nSkipping line 198: expected 1 fields, saw 2\nSkipping line 201: expected 1 fields, saw 3\nSkipping line 204: expected 1 fields, saw 2\nSkipping line 207: expected 1 fields, saw 4\nSkipping line 211: expected 1 fields, saw 3\nSkipping line 220: expected 1 fields, saw 2\nSkipping line 224: expected 1 fields, saw 2\nSkipping line 226: expected 1 fields, saw 3\nSkipping line 228: expected 1 fields, saw 2\nSkipping line 229: expected 1 fields, saw 2\nSkipping line 235: expected 1 fields, saw 3\nSkipping line 238: expected 1 fields, saw 4\nSkipping line 242: expected 1 fields, saw 2\nSkipping line 249: expected 1 fields, saw 3\nSkipping line 252: expected 1 fields, saw 2\nSkipping line 253: expected 1 fields, saw 5\nSkipping line 257: expected 1 fields, saw 3\nSkipping line 260: expected 1 fields, saw 2\nSkipping line 261: expected 1 fields, saw 3\nSkipping line 262: expected 1 fields, saw 3\nSkipping line 263: expected 1 fields, saw 3\nSkipping line 267: expected 1 fields, saw 2\nSkipping line 274: expected 1 fields, saw 2\nSkipping line 278: expected 1 fields, saw 4\nSkipping line 284: expected 1 fields, saw 3\nSkipping line 286: expected 1 fields, saw 2\nSkipping line 288: expected 1 fields, saw 2\nSkipping line 289: expected 1 fields, saw 2\nSkipping line 290: expected 1 fields, saw 3\nSkipping line 291: expected 1 fields, saw 3\nSkipping line 293: expected 1 fields, saw 3\nSkipping line 296: expected 1 fields, saw 3\nSkipping line 304: expected 1 fields, saw 5\nSkipping line 307: expected 1 fields, saw 3\nSkipping line 309: expected 1 fields, saw 6\nSkipping line 311: expected 1 fields, saw 2\nSkipping line 317: expected 1 fields, saw 3\nSkipping line 318: expected 1 fields, saw 2\nSkipping line 319: expected 1 fields, saw 2\nSkipping line 322: expected 1 fields, saw 2\nSkipping line 326: expected 1 fields, saw 2\nSkipping line 327: expected 1 fields, saw 6\nSkipping line 328: expected 1 fields, saw 2\nSkipping line 329: expected 1 fields, saw 2\nSkipping line 333: expected 1 fields, saw 2\nSkipping line 340: expected 1 fields, saw 3\nSkipping line 342: expected 1 fields, saw 2\nSkipping line 343: expected 1 fields, saw 3\nSkipping line 347: expected 1 fields, saw 3\nSkipping line 348: expected 1 fields, saw 4\nSkipping line 349: expected 1 fields, saw 2\nSkipping line 351: expected 1 fields, saw 3\nSkipping line 352: expected 1 fields, saw 5\nSkipping line 356: expected 1 fields, saw 3\nSkipping line 360: expected 1 fields, saw 2\nSkipping line 362: expected 1 fields, saw 2\nSkipping line 365: expected 1 fields, saw 3\nSkipping line 366: expected 1 fields, saw 5\nSkipping line 367: expected 1 fields, saw 2\nSkipping line 368: expected 1 fields, saw 2\nSkipping line 371: expected 1 fields, saw 2\nSkipping line 373: expected 1 fields, saw 2\nSkipping line 377: expected 1 fields, saw 3\nSkipping line 382: expected 1 fields, saw 3\nSkipping line 383: expected 1 fields, saw 2\nSkipping line 384: expected 1 fields, saw 2\nSkipping line 390: expected 1 fields, saw 3\nSkipping line 391: expected 1 fields, saw 2\nSkipping line 392: expected 1 fields, saw 4\nSkipping line 393: expected 1 fields, saw 2\nSkipping line 395: expected 1 fields, saw 2\nSkipping line 397: expected 1 fields, saw 2\nSkipping line 398: expected 1 fields, saw 4\nSkipping line 399: expected 1 fields, saw 2\nSkipping line 405: expected 1 fields, saw 5\nSkipping line 410: expected 1 fields, saw 2\nSkipping line 414: expected 1 fields, saw 9\nSkipping line 425: expected 1 fields, saw 3\nSkipping line 426: expected 1 fields, saw 4\nSkipping line 427: expected 1 fields, saw 4\nSkipping line 428: expected 1 fields, saw 2\nSkipping line 430: expected 1 fields, saw 3\nSkipping line 431: expected 1 fields, saw 5\nSkipping line 433: expected 1 fields, saw 2\nSkipping line 434: expected 1 fields, saw 3\nSkipping line 440: expected 1 fields, saw 2\nSkipping line 449: expected 1 fields, saw 3\nSkipping line 450: expected 1 fields, saw 2\nSkipping line 452: expected 1 fields, saw 4\nSkipping line 458: expected 1 fields, saw 3\nSkipping line 459: expected 1 fields, saw 4\nSkipping line 469: expected 1 fields, saw 2\nSkipping line 482: expected 1 fields, saw 3\nSkipping line 491: expected 1 fields, saw 2\nSkipping line 495: expected 1 fields, saw 3\nSkipping line 496: expected 1 fields, saw 3\nSkipping line 498: expected 1 fields, saw 4\nSkipping line 499: expected 1 fields, saw 2\nSkipping line 500: expected 1 fields, saw 2\nSkipping line 501: expected 1 fields, saw 3\nSkipping line 502: expected 1 fields, saw 2\nSkipping line 503: expected 1 fields, saw 4\nSkipping line 504: expected 1 fields, saw 2\nSkipping line 508: expected 1 fields, saw 4\nSkipping line 509: expected 1 fields, saw 6\nSkipping line 510: expected 1 fields, saw 2\nSkipping line 513: expected 1 fields, saw 2\nSkipping line 521: expected 1 fields, saw 2\nSkipping line 534: expected 1 fields, saw 2\nSkipping line 543: expected 1 fields, saw 4\nSkipping line 546: expected 1 fields, saw 2\nSkipping line 547: expected 1 fields, saw 2\nSkipping line 551: expected 1 fields, saw 2\nSkipping line 554: expected 1 fields, saw 4\nSkipping line 557: expected 1 fields, saw 2\nSkipping line 558: expected 1 fields, saw 2\nSkipping line 561: expected 1 fields, saw 4\nSkipping line 563: expected 1 fields, saw 3\nSkipping line 565: expected 1 fields, saw 4\nSkipping line 570: expected 1 fields, saw 4\nSkipping line 575: expected 1 fields, saw 2\nSkipping line 578: expected 1 fields, saw 3\nSkipping line 585: expected 1 fields, saw 2\nSkipping line 588: expected 1 fields, saw 2\nSkipping line 590: expected 1 fields, saw 2\nSkipping line 594: expected 1 fields, saw 2\nSkipping line 597: expected 1 fields, saw 2\nSkipping line 602: expected 1 fields, saw 2\nSkipping line 603: expected 1 fields, saw 4\nSkipping line 604: expected 1 fields, saw 3\nSkipping line 606: expected 1 fields, saw 7\nSkipping line 608: expected 1 fields, saw 3\nSkipping line 610: expected 1 fields, saw 2\nSkipping line 617: expected 1 fields, saw 2\nSkipping line 618: expected 1 fields, saw 2\nSkipping line 619: expected 1 fields, saw 3\nSkipping line 620: expected 1 fields, saw 3\nSkipping line 622: expected 1 fields, saw 3\nSkipping line 628: expected 1 fields, saw 4\nSkipping line 631: expected 1 fields, saw 4\nSkipping line 645: expected 1 fields, saw 2\nSkipping line 647: expected 1 fields, saw 5\nSkipping line 653: expected 1 fields, saw 2\nSkipping line 662: expected 1 fields, saw 2\nSkipping line 663: expected 1 fields, saw 2\nSkipping line 664: expected 1 fields, saw 2\nSkipping line 665: expected 1 fields, saw 3\nSkipping line 667: expected 1 fields, saw 3\nSkipping line 669: expected 1 fields, saw 3\nSkipping line 671: expected 1 fields, saw 3\nSkipping line 675: expected 1 fields, saw 2\nSkipping line 676: expected 1 fields, saw 3\nSkipping line 679: expected 1 fields, saw 3\nSkipping line 681: expected 1 fields, saw 5\nSkipping line 684: expected 1 fields, saw 2\nSkipping line 685: expected 1 fields, saw 3\nSkipping line 692: expected 1 fields, saw 2\nSkipping line 693: expected 1 fields, saw 2\nSkipping line 699: expected 1 fields, saw 3\nSkipping line 703: expected 1 fields, saw 3\nSkipping line 704: expected 1 fields, saw 2\nSkipping line 706: expected 1 fields, saw 2\nSkipping line 709: expected 1 fields, saw 2\nSkipping line 712: expected 1 fields, saw 2\nSkipping line 722: expected 1 fields, saw 3\nSkipping line 723: expected 1 fields, saw 2\nSkipping line 725: expected 1 fields, saw 4\nSkipping line 727: expected 1 fields, saw 2\nSkipping line 732: expected 1 fields, saw 2\nSkipping line 734: expected 1 fields, saw 2\nSkipping line 735: expected 1 fields, saw 3\nSkipping line 736: expected 1 fields, saw 2\nSkipping line 737: expected 1 fields, saw 2\nSkipping line 738: expected 1 fields, saw 2\nSkipping line 739: expected 1 fields, saw 6\nSkipping line 742: expected 1 fields, saw 4\nSkipping line 743: expected 1 fields, saw 2\nSkipping line 748: expected 1 fields, saw 2\nSkipping line 751: expected 1 fields, saw 3\nSkipping line 752: expected 1 fields, saw 2\nSkipping line 753: expected 1 fields, saw 2\nSkipping line 757: expected 1 fields, saw 6\nSkipping line 761: expected 1 fields, saw 7\nSkipping line 763: expected 1 fields, saw 2\nSkipping line 768: expected 1 fields, saw 3\nSkipping line 770: expected 1 fields, saw 2\nSkipping line 772: expected 1 fields, saw 4\nSkipping line 773: expected 1 fields, saw 5\nSkipping line 780: expected 1 fields, saw 2\nSkipping line 783: expected 1 fields, saw 5\nSkipping line 785: expected 1 fields, saw 6\nSkipping line 786: expected 1 fields, saw 2\nSkipping line 790: expected 1 fields, saw 5\nSkipping line 792: expected 1 fields, saw 2\nSkipping line 794: expected 1 fields, saw 6\nSkipping line 796: expected 1 fields, saw 2\nSkipping line 797: expected 1 fields, saw 3\nSkipping line 807: expected 1 fields, saw 4\nSkipping line 812: expected 1 fields, saw 4\nSkipping line 816: expected 1 fields, saw 5\nSkipping line 817: expected 1 fields, saw 2\nSkipping line 818: expected 1 fields, saw 2\nSkipping line 821: expected 1 fields, saw 2\nSkipping line 828: expected 1 fields, saw 2\nSkipping line 838: expected 1 fields, saw 3\nSkipping line 839: expected 1 fields, saw 2\nSkipping line 843: expected 1 fields, saw 5\nSkipping line 844: expected 1 fields, saw 3\nSkipping line 846: expected 1 fields, saw 2\nSkipping line 854: expected 1 fields, saw 5\nSkipping line 857: expected 1 fields, saw 2\nSkipping line 859: expected 1 fields, saw 2\n'

                                               tweet
0  @user @user @user I got in a pretty deep debat...
1  Angels now have 6 runs. Five of them have come...
2  #naturephotography. #nature. #birds #wild in #...
3                 #i2 This speaks for itself (NSFW)
4  #RAP is a form of ART! Used to express yoursel...

In [29]:
#checking for null data
test.isnull().sum()

tweet    0
dtype: int64

In [31]:
#checking and loading the label data
test.lbl = pd.read_csv('test_labels.txt')
test.lbl.head()
test.lbl.columns = ['label']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

In [32]:
#using the concat function we will combine the test and label data
off_test = pd.concat([test,test.lbl],axis=1)
off_test

                                                 tweet  label
0    @user @user @user I got in a pretty deep debat...      0
1    Angels now have 6 runs. Five of them have come...      0
2    #naturephotography. #nature. #birds #wild in #...      0
3                   #i2 This speaks for itself (NSFW)       0
4    #RAP is a form of ART! Used to express yoursel...      0
..                                                 ...    ...
854                                                NaN      0
855                                                NaN      0
856                                                NaN      1
857                                                NaN      0
858                                                NaN      0

[859 rows x 2 columns]

In [ ]:
#checking for null values
off_test.isnull().sum()

tweet    273
label      0
dtype: int64

In [ ]:
offensive_test = off_test.dropna()

In [ ]:
offensive_test.isnull().sum()

tweet    0
label    0
dtype: int64

In [ ]:
#using lower funtion to convert our text into lower case

In [33]:
df["tweet_lower"] = df["tweet"].str.lower()
df

                                                   tweet  ...                                        tweet_lower
0      @user Eight years the republicans denied obama...  ...  @user eight years the republicans denied obama...
1      @user Get him some line help. He is gonna be j...  ...  @user get him some line help. he is gonna be j...
2                   @user @user She is great. Hi Fiona!   ...               @user @user she is great. hi fiona!
3      @user She has become a parody unto herself? Sh...  ...  @user she has become a parody unto herself? sh...
4      @user Your looking more like a plant #maga #wa...  ...  @user your looking more like a plant #maga #wa...
...                                                  ...  ...                                                ...
11910                                                NaN  ...                                                NaN
11911                                                NaN  ...                                                NaN
11912                                                NaN  ...                                                NaN
11913                                                NaN  ...                                                NaN
11914                                                NaN  ...                                                NaN

[11915 rows x 3 columns]

In [41]:
#converting to type string
df["tweet"] = df["tweet"].astype(str)

In [42]:
 #We are using punctuation function to remove punctuation values
PUNCT_TO_REMOVE = string.punctuation
def remove_punctuation(text):
    """custom function to remove the punctuation"""
    return text.translate(str.maketrans('', '', PUNCT_TO_REMOVE))

df["text_wo_punct"] = df["tweet"].apply(lambda text: remove_punctuation(text))
df.head()

                                               tweet  ...                                      text_wo_punct
0  @user Eight years the republicans denied obama...  ...  user Eight years the republicans denied obamaâ€™...
1  @user Get him some line help. He is gonna be j...  ...  user Get him some line help He is gonna be jus...
2               @user @user She is great. Hi Fiona!   ...                   user user She is great Hi Fiona
3  @user She has become a parody unto herself? Sh...  ...  user She has become a parody unto herself She ...
4  @user Your looking more like a plant #maga #wa...  ...  user Your looking more like a plant maga walka...

[5 rows x 4 columns]

In [43]:
#we are importing the stopwords 
from nltk.corpus import stopwords
", ".join(stopwords.words('english'))

#we are using the stopword function to remove stopwords
STOPWORDS = set(stopwords.words('english'))
def remove_stopwords(text):
    """custom function to remove the stopwords"""
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])

df["text_wo_stop"] = df["text_wo_punct"].apply(lambda text: remove_stopwords(text))
df.head()

                                               tweet  ...                                       text_wo_stop
0  @user Eight years the republicans denied obama...  ...  user Eight years republicans denied obamaâ€™s pi...
1  @user Get him some line help. He is gonna be j...  ...  user Get line help He gonna fine As game went ...
2               @user @user She is great. Hi Fiona!   ...                       user user She great Hi Fiona
3  @user She has become a parody unto herself? Sh...  ...  user She become parody unto She certainly take...
4  @user Your looking more like a plant #maga #wa...  ...         user Your looking like plant maga walkaway

[5 rows x 5 columns]

In [44]:
from nltk.stem.porter import PorterStemmer

# we are using stemword function to stem our text data 

stemmer = PorterStemmer()
def stem_words(text):
    return " ".join([stemmer.stem(word) for word in text.split()])

df["text_stemmed"] = df["tweet"].apply(lambda text: stem_words(text))
df.head()

                                               tweet  ...                                       text_stemmed
0  @user Eight years the republicans denied obama...  ...  @user eight year the republican deni obamaâ€™ pi...
1  @user Get him some line help. He is gonna be j...  ...  @user get him some line help. He is gonna be j...
2               @user @user She is great. Hi Fiona!   ...                @user @user she is great. Hi fiona!
3  @user She has become a parody unto herself? Sh...  ...  @user she ha becom a parodi unto herself? she ...
4  @user Your looking more like a plant #maga #wa...  ...  @user your look more like a plant #maga #walkaway

[5 rows x 6 columns]

In [45]:
from nltk.stem import WordNetLemmatizer

#we are using lemmatizer
lemmatizer = WordNetLemmatizer()
def lemmatize_words(text):
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])

df["text_lemmatized"] = df["tweet"].apply(lambda text: lemmatize_words(text))
df.head()

                                               tweet  ...                                    text_lemmatized
0  @user Eight years the republicans denied obama...  ...  @user Eight year the republican denied obamaâ€™s...
1  @user Get him some line help. He is gonna be j...  ...  @user Get him some line help. He is gonna be j...
2               @user @user She is great. Hi Fiona!   ...                @user @user She is great. Hi Fiona!
3  @user She has become a parody unto herself? Sh...  ...  @user She ha become a parody unto herself? She...
4  @user Your looking more like a plant #maga #wa...  ...  @user Your looking more like a plant #maga #wa...

[5 rows x 7 columns]

In [ ]:
# we are importing the libraries and dependencies 
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

In [18]:
#Support vector machine
from sklearn.svm import SVC
pipeline_svc = Pipeline([('vect', CountVectorizer()),('tfidf',  TfidfTransformer()),('n', SVC(C=1.0, kernel='linear',random_state=123))])

In [19]:
#TRAINING THE MODEL
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(train,train,random_state=0,test_size=0.2)